{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <section class="bg-light p-3">
        <h1>Votre panier</h1>
    </section>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for element in dataCart %}  
                <tr>
                    <td>{{ element.activites.name }} </td>
                    <td >{{ element.activites.price }}  €</td>
                    <td>  {{ element.quantite  }}   </td>
                    <td>  {{ element.quantite * element.activites.price }} </td>
                    <td class="text-end"> €</td>
                    <td>
                        <a href="#" class="btn btn-success">
                             🛒
                        </a>
                        <a href="#" class="btn btn-warning">
                          
                        </a>
                        <a href="#" class="btn btn-danger">
                           
                        </a>
                    </td>
                </tr>
          {% else %} 
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
           {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total </td>
                <td class="text-end">total €</td>
                <td>
                    <a href="#" class="btn btn-danger">
                        
                    </a>
                </td>
                
            </tr>
        </tfoot>
    </table>
  
    
{% endblock %}
